<!DOCTYPE html>
<html>
<head>
  <title>404</title>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <style>
    h1 {
      font-family: 'Dosis', sans-serif;
      text-align: center;
    }

    pre {
      width: 370px;
      margin: 0 auto;
      padding: 0;
    }
  </style>
</head>
<body>
<h1>404</h1>
    <pre>
             *     ,MMM8&&&.            *
                  MMMM88&&&&&    .
                 MMMM88&&&&&&&
     *           MMM88&&&&&&&&
                 MMM88&&&&&&&&
                 'MMM88&&&&&&'
                   'MMM8&&&'      *
          |\___/|
          )     (             .              '
         =\     /=
           )===(       *
          /     \
          |     |
         /       \
         \       /
  _/\_/\_/\__  _/_/\_/\_/\_/\_/\_/\_/\_/\_/\_
  |  |  |  |( (  |  |  |  |  |  |  |  |  |  |
  |  |  |  | ) ) |  |  |  |  |  |  |  |  |  |
  |  |  |  |(_(  |  |  |  |  |  |  |  |  |  |
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |
    </pre>
</body>
</html>
