{% extends "layout.html" %}
{% block title %}Code Speculations - About Ana{% endblock %}
{% block content %}
<div class="article about">
  <h1>Hi, I'm Ana</h1>
  <div>
    <h4>Studies</h4>
    <p>I have migrated from construction engineering to information technology in 2009 and no regrets. Currently enrolled at Technical University of Moldova studding Computer Science English Taught Honors Program. I have an unnatural attraction for <a href="http://faf.utm.md/">FAF</a> (place and stuff I study) and a strong belief to not enter a Master's Program until I am sure that self-development isn't enough.</p>
    <h4>Computers</h4>
    <p>Passioned about Python, web crawling, data mining and cats. Enthusiastic about Linux distributions. Lover for order and versioning. Though determined in technology preferences, still trying new things. For more details find me on <a href="https://github.com/ana-balica/">github</a>.</p>
    <h4>Traveling</h4>
    <p>I prefer traveling alone. It is important for me to start a journey from time to time. It may be even a short or imaginary one, but of course it is much better if it's a real long distance discovery. My main interest represent people that I meet during the trips, the risks that I take and the problems I try to deal with.</p>
    <h4>Reading</h4>
    <p>I was taught to love books. They are my source of pleasure and knowledge. Whether it's a sci-fi, romance or technical book, they all have the chance to capture my attention. Follow me on shelfari :)</p>
    <div id="ShelfariWidget238800"><a href='http://www.shelfari.com/'>Shelfari: Book reviews on your book blog</a><script src="http://www.shelfari.com/ws/238800/widget.js?r=1271" type="text/javascript" language="javascript"></script></div><noscript><ul><li><a href="http://www.shelfari.com/books/11131/Zen-and-the-Art-of-Motorcycle-Maintenance?widgetId=238800">Zen and the Art of Motorcycle Maintenance</a> by Robert M Pirsig</li><li><a href="http://www.shelfari.com/books/12057/One-Hundred-Years-of-Solitude?widgetId=238800">One Hundred Years of Solitude</a> by Gabriel Garcia Marquez</li><li><a href="http://www.shelfari.com/books/111529/The-Agony-and-the-Ecstasy?widgetId=238800">The Agony and the Ecstasy</a> by Irving Stone</li></ul></noscript>
  </div>
</div>
{% endblock %}