{% extends "layout.html" %}
{% block content %}
{% for article in articles %}
<div class="article">
  <h1>{{ article.title }}</h1>
  <div class="date">{{ article.date }}</div>
  <div>
    {{ article.preview|safe }}
  </div>
  <a href="{{ url_for('article', article_name=article['url']) }}"><button class="read_more right">continue reading &raquo;</button></a>
</div>
{% endfor %}
<div class="pagination">
  <a href="" class='left'>
    <div class="arrows arrow_left left"></div>
    <p class="left">past</p>
  </a>
  <a href="" class='right'>
    <div class="arrows arrow_right right"></div>
    <p class="right">future</p>
  </a>
</div>
{% endblock %}
