{% extends "layout.html" %}
{% block content %}
<div class="article">
  <h1>Lorem Ipsum</h1>
  <div class="date">20 Jan 2012</div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum odit pariatur fugit impedit ab tempora velit molestias exercitationem illum esse perspiciatis nemo iure nam obcaecati autem maxime placeat adipisci est! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sunt dignissimos pariatur optio ipsum tempora aut magnam sapiente assumenda nulla quo rem tempore laborum deserunt perspiciatis dolorum est alias quis.</p>
    <h3>Heading 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia at enim unde saepe ipsum voluptate labore mollitia quod iste officiis incidunt numquam omnis non asperiores dolor! Officia nam perferendis totam.</p>
  </div>
  <a href=""><button class="read_more right">continue reading &raquo;</button></a>
</div>
<div class="article">
  <h1>A very Long title about anything</h1>
  <div class="date">20 Jan 2012</div>
  <div class="text_block">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum odit pariatur fugit impedit ab tempora velit molestias exercitationem illum esse perspiciatis nemo iure nam obcaecati autem maxime placeat adipisci est! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sunt dignissimos pariatur optio ipsum tempora aut magnam sapiente assumenda nulla quo rem tempore laborum deserunt perspiciatis dolorum est alias quis.</p>
    <h3>Heading 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia at enim unde saepe ipsum voluptate labore mollitia quod iste officiis incidunt numquam omnis non asperiores dolor! Officia nam perferendis totam.</p>
  </div>
  <a href=""><button class="read_more right">continue reading &raquo;</button></a>
</div>
<div class="pagination">
  <a href="" class='left'>
    <div class="arrows arrow_left left"></div>
    <p class="left">past</p>
  </a>
  <a href="" class='right'>
    <div class="arrows arrow_right right"></div>
    <p class="right">future</p>
  </a>
</div>
{% endblock %}
