<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>{% block title %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Dosis|Crimson+Text|Source+Sans+Pro:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pastie.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rainbow-custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    <div class="sidebar">
      <img src="{{ url_for('static', filename='img/rss.png') }}" class="rss_icon" title="Well, there's no RSS feed here. I just like the icon.">
      <a href="/" class="title">
        <div class="code">code</div>
        <div class="speculations">speculations</div>
      </a>
      <ul>
        <li><a href="{{ url_for('blog') }}" id="blog">blog</a></li>
        <li><a href="{{ url_for('contact') }}">contact</a></li>
        <li><a href="{{ url_for('about') }}">about</a></li>
      </ul>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>